* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: dodgerblue;
  font-size: 22px;
}

h1 {
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 20px;
}
